<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box">
        <div class="form">
            <h1>SignUp Page</h1>
            <form>
            <div class="inputbox"><input type="text" value="" id="username" required placeholder="Username"></div>
            <div class="inputbox"><input type="email" value="" id="email" required  placeholder="E-mail"></div>
            <div class="inputbox" ><input type="password" value="" id="password" required  placeholder="Password"></div>
           <input type="submit" value="Signup" id="log"> <br>
           <p>Already registered?</p>
           <a id="sig" href="../login/login.html">Login</a>
            </form>
        </div>
        <div>
            <a id="home" href="../home.html">Goto Home</a>
        </div>


    </div>
</body>
</html>